<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="#">Loja de livros</a>
    </nav>
  </div>
  <div class="right-buttons">
    <a href='/' class="btn btn-outline-primary">Voltar</a>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class=" col-md-6">
      <h4>Itens no carrinho</h4>
      <app-cart-item-list></app-cart-item-list>
    </div>
    <div class=" col-md-6">
      <h4>Dados para entrega</h4>
      <div class="form-group">
        <label for="">Nome</label>
        <input type="text" class="form-control" name="name" [(ngModel)]="model.name">
      </div>
      <div class="form-group">
        <label for="">CPF</label>
        <input type="text" class="form-control" name="cpf" [(ngModel)]="model.cpf">
      </div>
      <div class="form-group">
        <label for="">E-mail</label>
        <input type="email" class="form-control" name="email" [(ngModel)]="model.email">
      </div>
      <div class="form-group">
        <label for="">Endereço</label>
        <input type="text" class="form-control" name="address" [(ngModel)]="model.address">
      </div>
      <div class="form-group">
        <label for="">CEP</label>
        <input type="text" class="form-control" name="postalcode" [(ngModel)]="model.postalcode">
      </div>
      <div class="form-group">
        <button (click)="confirmCheckout()" class="btn btn-primary float-right">Confirmar</button>
      </div>
    </div>
  </div>
</div>
