 <div class="list">
   <div class="item" *ngFor="let item of cartItemList()">
     <div class="title">
       {{ item.book.title }}
     </div>
     <button *ngIf='controls' (click)="addToCart(item.book)" class="btn btn-primary">
       <div class="fa fa-plus"></div>
     </button>
     <div class="qtd">{{item.quantity}}</div>
     <button *ngIf='controls' (click)="removeFromCart(item.book)" class="btn btn-primary">
       <div class="fa fa-minus"></div>
     </button>
     <div class="total">
       {{item.quantity*item.book.price|currency}}
     </div>
   </div>
   <div class="item item-final">
     <div class="title">
       Total
     </div>
     <div>
       {{getTotal()}}
     </div>
   </div>
 </div>
