<header>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <a class="navbar-brand" href="#">Loja de livros</a>
    </nav>
  </div>
  <div class="right-buttons">
    <!-- <a id="dashboard" class="btn btn-outline-secondary" href="dashboard">Dashboard <i class="fa fa-tachometer"
        aria-hidden="true"></i></a> -->
    <button (click)="showCart()" class="btn btn-outline-primary">Cart <i class="fa fa-shopping-cart"
        aria-hidden="true"></i></button>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <app-book-search-input (update)="onUpdateBookSearch($event)"></app-book-search-input>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let book of books" class="m-2">
      <app-book-card [book]="book" (add)="addToCart(book)"></app-book-card>
    </div>
  </div>
</div>
<app-dialog *ngIf="show_cart" (dismiss)="hideCart()" title='Carrinho de compras'>
  <app-cart-item-list></app-cart-item-list>
  <button routerLink="checkout" class="btn btn-primary" [disabled]='cartEmpty()'>Consolidar compra</button>
</app-dialog>
